<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/jake_logo-removebg-preview.png" alt="Tourz Logo" />
    </a>
    <ul class="nav-menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/tours">Tours</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/reviews">Reviews</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/applications">Applications</a>
      </li>
      <li *ngIf="isAuthenticated"><a routerLink="/requests">Requests</a></li>
      <li *ngIf="isAuthenticated"><a href="#" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
